body {
  color: #e0e0e0;
  overflow-x: hidden;
  height: 100%;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #0554e914 !important;
}

.logo {
  width: 280px;
  height: 95px;
}

::ng-deep
  .mat-mdc-form-field.mat-form-field-appearance-fill
  .mat-mdc-text-field-wrapper {
  border-bottom: 1px solid #e7e7e9 !important;
}

::ng-deep
  .mat-mdc-form-field.mat-form-field-appearance-fill.mat-form-field-invalid
  .mat-mdc-text-field-wrapper {
  border-color: #dc3545 !important;
}


@media screen and (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }
}
