@if (dataLoaded) {
<div class="main-nav-bar">
	<div class="main-nav-content">
		<div class="logo">
			<img [src]="sitio.logo_header" alt="Logo header" class="img-fluid" style="max-height: 80px;">
		</div>
		<nav class="main-nav-links">
			<a routerLink="/inicio" routerLinkActive="active">Inicio</a>
			<a routerLink="/propiedades" routerLinkActive="active">Propiedades</a>
			<a routerLink="/publicar" routerLinkActive="active">Publicar</a>
			<a routerLink="/inversion" routerLinkActive="active">Inversión</a>
			<a routerLink="/blog" routerLinkActive="active">Blog</a>
			<a routerLink="/contacto" routerLinkActive="active">Contacto</a>
		</nav>
		<button class="primary-action-btn" routerLink="/publicar">
			<i class="bi bi-pencil-square"></i>
			Publicar Propiedad
		</button>
	</div>
</div>

}