.pc-container {
  padding-top: 150px;
  //padding-bottom: 80px;
  margin: 0!important;
}
.coded-wrapper {
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto; 
  padding: 0;
}

@media (max-width: 768px) {
  .pc-container {
    padding-top: 120px;
  }
}


