.pc-container {
  padding-top: 170px;
  padding-bottom: 100px;
}
.coded-wrapper {
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto; 
  padding: 0 20px;
}

@media (max-width: 768px) {
  .pc-container {
    padding-top: 120px;
  }
}
